<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minimal Blog 11ty - Home</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  {% include 'header.liquid' %}
  <main>
    <article>
      <p>Minimal Blog for the 11ty framework.</p>
    </article>
  </main>
  {% include 'footer.liquid' %}
</body>
</html>