<header>
    <h1>{{ siteTitle | default: "Minimal Blog 11ty" }}</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
</header>